<%- include('../partials/head',{title:'BCU DashBoard-Cartões'})%>
<%- include('../partials/dashboardHeader')%>
<section class="dashboardContainer">
        <div class="mainAreaCard">
            <div class="cartaoContainer">
                <h1 id="bankCardLogo">BCU</h1>
                <p class="saldo">KZ 125.000,00</p>
               <img id="chip" src="/assets/img/chip.jpg" />
               <div class="cardDetails">
                <p>****************01</p>
                <p>Válido até 08/24</p>
                <p><%=nome%></p>
               </div>
            </div>
            <div class="levantamentos">
                <h1>MOVIMENTOS</h1>
                <%- include('levantamentoItem')%>
                <%- include('levantamentoItem')%>
            </div>
        </div>
            <%- include('../partials/sideBar')%>
    </section>
    <%- include('../partials/footer')%>
    <%- include('../partials/pageEnd')%>