<%- include('../partials/head',{title:'BCU DashBoard-Créditos'})%>
<%- include('../partials/dashboardHeader')%>
<section class="dashboardContainer">
        <div class="mainAreaDefinicoes">
            <h1>Definições</h1>
            <%- include('partials/definicoesHeader')%>
        </div>
            <%- include('../partials/sideBar')%>
    </section>
    <%- include('../partials/footer')%>
    <%- include('../partials/pageEnd')%>