<%- include('../partials/head',{title:'BCU DashBoard-Levantamentos'})%>
<%- include('../partials/dashboardHeader')%>
<section class="dashboardContainer">
    <div class="mainArea">
        <!-- <h1>Levantamento sem Cartão</h1> -->
        <div class="transferenciaContainer">
            <form class="borderCurveElements">
                <select class="moneyOptions">
                    <option value="">KZ 500,00</option>
                    <option value="">KZ 1.000,00</option>
                    <option value="">KZ 2.000,00</option>
                    <option value="">KZ 3.000,00</option>
                    <option value="">KZ 4.000,00</option>
                    <option value="">KZ 5.000,00</option>
                    <option value="">KZ 6.000,00</option>
                    <option value="">KZ 7.000,00</option>
                    <option value="">KZ 8.000,00</option>
                    <option value="">KZ 9.000,00</option>
                    <option value="">KZ 10.000,00</option>
                    <option value="">KZ 11.000,00</option>
                    <option value="">KZ 12.000,00</option>
                    <option value="">KZ 13.000,00</option>
                    <option value="">KZ 14.000,00</option>
                    <option value="">KZ 15.000,00</option>
                    <option value="">KZ 16.000,00</option>
                    <option value="">KZ 17.000,00</option>
                    <option value="">KZ 18.000,00</option>
                    <option value="">KZ 19.000,00</option>
                    <option value="">KZ 20.000,00</option>
                    <option value="">KZ 21.000,00</option>
                    <option value="">KZ 22.000,00</option>
                    <option value="">KZ 23.000,00</option>
                    <option value="">KZ 24.000,00</option>
                    <option value="">KZ 25.000,00</option>
                    <option value="">KZ 26.000,00</option>
                    <option value="">KZ 27.000,00</option>
                    <option value="">KZ 28.000,00</option>
                    <option value="">KZ 29.000,00</option>
                    <option value="">KZ 30.000,00</option>
                </select>
                <input type="password" name="codigo" maxlength="3" minlength="3" placeholder="Código Secreto" id="codigoSecretoField"/>
                <button>Solicitar</button>
            </form>
        </div>
        <div class="levantamentos">
            <h1>MEUS LEVANTAMENTOS</h1>
            <%- include('levantamentoItem')%>
            <%- include('levantamentoItem')%>
            <%- include('levantamentoItem')%>
            <%- include('levantamentoItem')%>
            <%- include('levantamentoItem')%>
            <%- include('levantamentoItem')%>
        </div>
    </div>

            <%- include('../partials/sideBar')%>
    </section>
    <%- include('../partials/footer')%>
    <%- include('../partials/pageEnd')%>