<%- include('partials/head',{title:'BCU DashBoard'})%>
<%- include('partials/dashboardHeader')%>
<section class="dashboardContainer">
    <div class="mainArea">
            <div class="avatarContainer">
                <div class="avatarDetails">
                    <img src="/assets/img/user.jpg" alt="bank" id="avatarImg">
                </div>
            </div>
            <h1>Dasboard</h1>
        </div>
            <%- include('partials/sideBar')%>
    </section>
    <%- include('partials/footer')%>
    <%- include('partials/pageEnd')%>