<%- include('partials/head',{title:'BCU Instituicional'})%>
  <%- include('partials/header')%>
  <%- include('partials/carrocel')%>
  <section class="contatosContainer">
        <h1>Nossa Instituição</h1>
    </section>
  
    <%- include('partials/footer')%>
      <%- include('partials/pageEnd')%>