<%- include('../partials/head',{title:'BCU Abertura de Contas'})%>
  <%- include('../partials/header')%>
  <%- include('../partials/carrocel')%>
  <section class="mainHomeContainer">
        <h1>Abertura de Contas</h1>
    </section>
  
    <%- include('../partials/footer')%>
      <%- include('../partials/pageEnd')%>