<%- include('../partials/head',{title:'BCU Faturas'})%>
  <%- include('../partials/header')%>
  <%- include('../partials/carrocel')%>
  <section class="contatosContainer">
        <h1>Faturas Genericas</h1>
    </section>
  
    <%- include('../partials/footer')%>
      <%- include('../partials/pageEnd')%>