<%- include('../partials/head',{title:'BCU Linha 24H'})%>
  <%- include('../partials/header')%>
  <%- include('../partials/carrocel')%>
  <section class="mainHomeContainer">
        <h1>Nossos Contactos</h1>
    </section>
  
    <%- include('../partials/footer')%>
      <%- include('../partials/pageEnd')%>