<%- include('../partials/head',{title:'BCU Cartões'})%>
  <%- include('../partials/header')%>
    <%- include('../partials/carrocel')%>
      <section class="cartoesContainer">
        <h1>Nossos Cartões</h1>
        <h2>Cartão Débito</h2>
        <p>Um cartão associado à sua conta à ordem que lhe permite tomar acções como pagar, tranferir e consultar o seu
          saldo no portal</p>
        <h2>Cartão Crédito</h2>
        <p>Um cartão associado à sua conta à ordem que lhe permite efectuar compras de bens e serviços em Angola</p>
      </section>

      <%- include('../partials/footer')%>
        <%- include('../partials/pageEnd')%>