<%- include('../partials/head',{title:'BCU Cartões'})%>
  <%- include('../partials/header')%>
  <%- include('../partials/carrocel')%>
  <section class="mainHomeContainer">
        <h1>Nossos Cartões</h1>
    </section>
  
    <%- include('../partials/footer')%>
      <%- include('../partials/pageEnd')%>