<%- include('../partials/head',{title:'BCU Créditos'})%>
  <%- include('../partials/header')%>
  <%- include('../partials/carrocel')%>
  <section class="creditoContainer">
        <h1>Nossos Créditos</h1>
         <h2>Crédito salário</h2>
            <p>
              Faça já o download de toda a informação sobre o Crédito Salário, clicando <a href="#">Aqui</a>
            </p>

    </section>
    <%- include('../partials/footer')%>
      <%- include('../partials/pageEnd')%>