<%- include('../partials/head',{title:'BCU Créditos'})%>
  <%- include('../partials/header')%>
  <%- include('../partials/carrocel')%>
  <section class="mainHomeContainer">
        <h1>Créditos</h1>
    </section>
  
    <%- include('../partials/footer')%>
      <%- include('../partials/pageEnd')%>